.homelogo {
  height: 6em;
  /* position: fixed; */
  top: 0;
  left: 0;

  z-index: 100;

  margin-top: 0;
  display: flex;

  /* background: #00ff80; */
  /* background: #33ddbb; */

  background: #0a7;
  color: black;
  margin: 1em;
  border-radius: 1em;
  align-items: center;
  width: fit-content;
}

.homelogo span {
  align-items: center;
  @media (width < 768px) {
    display: none;
  }
}

.homelogo a {
  height: 100%;
  padding: 0.75em;
  align-items: center;
  display: flex;
}

.homelogo:hover {
  background: #2ac;
}

.homelogo img {
  /* position: relative; */
  width: 4em;
  aspect-ratio: 1 /1;
}
