.clicked {
  background: var(--background);
  border: 1px solid var(--foreground);
  color: black;
  @media (prefers-color-scheme: dark) {
    color: var(--ya-green);
  }
  margin: 1em;
  padding: 0.75em;
  border-radius: 1em;
  overflow: scroll;
  /* width: fit-content; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
}

.clicked:hover {
  border: 1px solid var(--hover);
}

.notClicked {
  background: var(--ya-green);
  color: black;
  margin: 1em;
  padding: 0.75em;
  border-radius: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
}

.notClicked:hover {
  background: var(--hover);
}
