/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/blog/articles/[slug]/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.page_page__1Zc6W {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid; */
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  /* justify-items: center; */
  /* min-height: 100svh; */
  /* padding: 80px; */
  /* gap: 64px; */
  /* font-family: var(--font-geist-sans); */
}

@media (prefers-color-scheme: dark) {
  .page_page__1Zc6W {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.page_main__waLmh {
  display: grid;
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  grid-gap: 1em;
  gap: 1em;
  font-family: var(--font-geist-sans);
  @media (max-width: 767px) {
    display: block;
    position: relative;
    top: 40vh;
    padding: 0.75em;
  }
}

.page_central__5Opef {
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* grid-row-start: 2; */
  /* color: #0a7; */
  /* color: #1b8; */
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
  }
}

.page_menubar__qAGkd {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  @media (max-width: 767px) {
    display: grid;
    width: 100vw;
    grid-template-columns: auto 1fr;
    max-height: 40vh;
    /* overflow: hidden; */
  }
  @media (768px <= width) {
    max-width: 20vw;
  }
  /* align-items: center; */
}

/* .main code { */
/*   font-family: inherit; */
/*   background: var(--gray-alpha-100); */
/*   padding: 2px 4px; */
/*   border-radius: 4px; */
/*   font-weight: 600; */
/* } */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.page_primary__wIGWN:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.page_secondary__ahc5S:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .page_footer__ZylBu a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/blog/components/blogtoplink.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.blogtoplink_homelogo__BHrsp {
  /* height: 6em; */
  /* position: fixed; */
  top: 0;
  left: 0;

  z-index: 100;

  margin-top: 0;
  display: flex;

  /* background: #00ff80; */
  /* background: #33ddbb; */

  background: #0a7;
  color: black;
  margin: 1em;
  border-radius: 1em;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.blogtoplink_homelogo__BHrsp a {
  height: 100%;
  padding: 0.75em;
  align-items: center;
  display: flex;
}

.blogtoplink_homelogo__BHrsp:hover {
  background: #2ac;
}

.blogtoplink_homelogo__BHrsp img {
  /* position: relative; */
  width: 4em;
  aspect-ratio: 1 /1;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/blog/components/viewer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.viewer_viewer__Ujg3_ {
  display: block;
  width: 60vw;
  background: whitesmoke;
  color: black;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;

  overflow-wrap: break-word;
  @media (max-width: 767px) {
    width: auto;
    margin: 0;
    padding: 0.75em;
  }
}

.viewer_viewer__Ujg3_ h1 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ h2 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ h3 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ h4 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ h5 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ h6 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer_viewer__Ujg3_ code {
  @media (768px <= width) {
    display: inline-block;
  }
  background: #ddd;
  overflow-wrap: break-all;
  padding: 0.2em;
  border-radius: 0.3em;
}
.viewer_viewer__Ujg3_ pre {
  background: var(--ya-dark);
  padding: 0.5em;
  border-radius: 0.5em;
  overflow: scroll;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.viewer_viewer__Ujg3_ > pre > code {
  display: inline-block;
  overflow-wrap: break-all;
  background: var(--ya-dark);

  color: white;
}
/**/
/* .viewer code { */
/*   background: var(--ya-dark); */
/*   color: white; */
/*   padding: 0.2em; */
/*   border-radius: 0.3em; */
/* } */

.viewer_viewer__Ujg3_ a {
  color: var(--ya-darker-green);
}

.viewer_viewer__Ujg3_ a:hover {
  /* color: var(--hover); */
  color: skyblue;
}

.viewer_viewer__Ujg3_ blockquote {
  /* border: 1px solid var(--ya-green); */
  padding: 0.25em;
  border-left: 0.6em solid var(--ya-green);
  border-radius: 0.4em;
  background: #ddd;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/blog/components/tag.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.tag_tag__USIHT {
  background: var(--ya-green);
  color: black;
  margin: 0.2em;
  font-size: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.2em;
  display: inline-block;
}

.tag_tag__USIHT:hover {
  background: #2ac;
  color: black;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/homelogo.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.homelogo_homelogo__qyfoJ {
  height: 6em;
  /* position: fixed; */
  top: 0;
  left: 0;

  z-index: 100;

  margin-top: 0;
  display: flex;

  /* background: #00ff80; */
  /* background: #33ddbb; */

  background: #0a7;
  color: black;
  margin: 1em;
  border-radius: 1em;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.homelogo_homelogo__qyfoJ span {
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
}

.homelogo_homelogo__qyfoJ a {
  height: 100%;
  padding: 0.75em;
  align-items: center;
  display: flex;
}

.homelogo_homelogo__qyfoJ:hover {
  background: #2ac;
}

.homelogo_homelogo__qyfoJ img {
  /* position: relative; */
  width: 4em;
  aspect-ratio: 1 /1;
}

