.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid; */
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  /* justify-items: center; */
  /* min-height: 100svh; */
  /* padding: 80px; */
  /* gap: 64px; */
  /* font-family: var(--font-geist-sans); */
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: grid;
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 1em;
  font-family: var(--font-geist-sans);
  @media (width < 768px) {
    display: block;
    position: relative;
    top: 40vh;
    padding: 1em;
  }
}

.central {
  display: block;
  @media (width < 768px) {
    display: block;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0.5em;
  }
  /* display: flex; */
  /* flex-direction: column; */
  /* grid-row-start: 2; */
  /* color: #0a7; */
  /* color: #1b8; */
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  @media (width < 768px) {
    display: grid;
    width: 100vw;
    grid-template-columns: auto 1fr;
    max-height: 40vh;
    /* overflow: hidden; */
  }
  @media (768px <= width) {
    max-width: 20vw;
  }
  /* align-items: center; */
}

/* .main code { */
/*   font-family: inherit; */
/*   background: var(--gray-alpha-100); */
/*   padding: 2px 4px; */
/*   border-radius: 4px; */
/*   font-weight: 600; */
/* } */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
