.viewer {
  display: block;
  width: 60vw;
  background: whitesmoke;
  color: black;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;

  overflow-wrap: break-word;
  @media (width < 768px) {
    width: auto;
    max-width: 90vw;
    margin: 0;
    padding: 0.75em;
  }
}

.viewer h1 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer h2 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer h3 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer h4 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer h5 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer h6 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.viewer code {
  @media (768px <= width) {
    display: inline-block;
  }
  background: #ddd;
  overflow-wrap: break-all;
  padding: 0.2em;
  border-radius: 0.3em;
}
.viewer pre {
  background: var(--ya-dark);
  padding: 0.5em;
  border-radius: 0.5em;
  overflow: scroll;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.viewer > pre > code {
  display: inline-block;
  overflow-wrap: break-all;
  background: var(--ya-dark);

  color: white;
}
/**/
/* .viewer code { */
/*   background: var(--ya-dark); */
/*   color: white; */
/*   padding: 0.2em; */
/*   border-radius: 0.3em; */
/* } */

.viewer a {
  color: var(--ya-darker-green);
}

.viewer a:hover {
  /* color: var(--hover); */
  color: skyblue;
}

.viewer blockquote {
  /* border: 1px solid var(--ya-green); */
  padding: 0.25em;
  border-left: 0.6em solid var(--ya-green);
  border-radius: 0.4em;
  background: #ddd;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
